.testimonials {
  background-color: var(--green);
}

.testimonials h1 {
  color: var(--highlight-light);
  text-align: center;
  padding: 2rem 0;
}

.testimonies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
  gap: 1rem;
  max-width: 61.625rem;
  margin: 0 auto;
}

.testimony {
  padding: 2rem 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}

.image-box {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-box:hover img {
  transform: scale(1.2);
}

.rating {
  color: var(--yellow);
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 0.8rem;
}

@media screen and (max-width: 61.9375rem) {
  .testimonies {
    grid-template-columns: auto auto;
    padding: 2rem;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .image2 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 48.9375rem) {
  .testimonies {
    display: grid;
    grid-template-columns: auto;
    padding: 2rem;
    gap: 1rem;
    max-width: 61.625rem;
  }
}

@media screen and (max-width: 23.375rem) {
  .testimonies {
    display: grid;
    grid-template-columns: auto;
  }
}
